---
import CustomerIcons from "@/components/CustomerIcons.astro";
---

<section class="flex justify-between items-center py-20">
  <div class="max-w-[40%] text-pr-water-white">
    <h2 class="text-5xl">Who we work with</h2>
    <p class="mt-8 mb-4 text-justify opacity-85">
      Today, millions of people around the world have successfully connected
      their accounts to apps they love using our API. We provide developers with
      the tools they need to create easy and accessible experiences for their
      users.
    </p>
    <a
      class="inline-block px-6 py-4 border-pr-water-white border-solid border-2 rounded-full transition-all hover:font-semibold hover:bg-pr-water-white hover:text-sec-mirage-blue"
      href="/about">About Us</a
    >
  </div>
  <CustomerIcons svgClass="fill-pr-water-white" />
</section>
