---
import CustomerIcons from "@/components/CustomerIcons.astro";
import TransparentButton from "@/components/TransparentButton.astro";

type Props = {
  customerHeader: string;
  customerIntro: string;
};

const { customerHeader, customerIntro } = Astro.props;
---

<section class="flex justify-between items-center py-20">
  <div class="max-w-[40%] text-pr-water-white">
    <h2 class="text-5xl">{customerHeader}</h2>
    <p class="mt-8 mb-4 text-justify opacity-85">{customerIntro}</p>
    <TransparentButton
      customClasses="border-pr-water-white hover:bg-pr-water-white hover:text-sec-mirage-blue"
      text="About Us"
      link="about"
    />
  </div>
  <CustomerIcons svgClass="fill-pr-water-white" />
</section>
