---
import FeaturesMain from "@/components/home/FeaturesMain.astro";
import FeaturesFooter from "@/components/home/FeaturesFooter.astro";
---

<section class="text-sec-sanjuan-blue">
  <FeaturesMain />
  <FeaturesFooter />
</section>
