---
import { Image } from "astro:assets";
import DemoForm from "@/components/DemoForm.astro";
import PhoneMockUp from "@/svg/home/illustration-phone-mockup.svg";
---

<section class="flex justify-center items-center">
  <div class="flex-[0.5] mx-auto">
    <h1 class="text-7xl text-sec-sanjuan-blue mb-4">
      Start building with our APIs for absolutely free.
    </h1>
    <DemoForm />
    <p class="ml-4 mt-4 text-sec-lightsanjuan-blue">
      Have any questions? <a
        class="font-semibold hover:font-bold"
        href="/contact">Contact Us</a
      >
    </p>
  </div>
  <div class="mx-auto">
    <Image
      loading={"eager"}
      src={PhoneMockUp}
      alt="Illustration Phone Mockup"
    />
  </div>
</section>
