$start-scissors-gradient: hsl(39, 89%, 49%);
$end-scissors-gradient: hsl(40, 84%, 53%);
$start-paper-gradient: hsl(230, 89%, 62%);
$end-paper-gradient: hsl(230, 89%, 65%);
$start-rock-gradient: hsl(349, 71%, 52%);
$end-rock-gradient: hsl(349, 70%, 56%);
$cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);
$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);
$start-background-color: hsl(214, 47%, 23%);
$end-background-color: hsl(237, 49%, 15%);

%animate-main {
    @keyframes main__animation {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

%animate-opponent-choice {
    @keyframes opponent__choice--animation {
        0% {
            transform: scale(1.20);
        }

        50% {
            transform: scale(1.1);
            opacity: 0.3;
        }

        100% {
            transform: scale(1.20);
            opacity: 0.5;
        }
    }
}

%animate-text-results {
    @keyframes text__results--animation {
        0% {
            transform: scale(1.20);
        }

        50% {
            transform: scale(1.1);
            opacity: 0.3;
        }

        100% {
            transform: scale(1.20);
            opacity: 0.5;
        }
    }
}