---
type Props = {
  gridContent: {
    header: string;
    description: string;
  }[];
};

const { gridContent } = Astro.props;
---

<div
  class="pl-20 max-md:pl-0 max-sm:flex max-sm:flex-col max-sm:items-center max-sm:text-center grid grid-cols-[30%_70%] grid-rows-2 gap-y-10 mt-20"
>
  {
    gridContent.map((contentItem) => (
      <>
        <h3 class="text-4xl max-md:text-3xl text-sec-sanjuan-blue">
          {contentItem.header}
        </h3>
        <p class="text-sec-lightsanjuan-blue max-w-[80%] max-md:max-w-full">
          {contentItem.description}
        </p>
      </>
    ))
  }
</div>
