---
import { Image } from "astro:assets";
import Padding from "@/layouts/Padding.astro";
import AboutGridLayout from "@/layouts/AboutGridLayout.astro";

type Props = {
  imgAlt: string;
  companyMetrics: {
    description: string;
    metric: string;
  }[];
  gridContentLower: {
    header: string;
    description: string;
  }[];
};

const { imgAlt, companyMetrics, gridContentLower } = Astro.props;
---

<section class="pt-20">
  <picture>
    <source
      srcset="mobile-img-team-members.jpg"
      media="(max-width: 480px)"
      type="image/jpg"
    />
    <source
      srcset="tablet-img-team-members.jpg"
      media="(max-width: 820px)"
      type="image/jpg"
    />

    <img src="/desktop-img-team-members.jpg" alt={imgAlt} width="100%"/>
  </picture>

  <Padding>
    <div
      class=`flex mb-16 mt-16
      max-sm:flex-col max-sm:items-center max-sm:gap-4 max-sm:text-center
      max-sm:border-y-[1px] max-sm:border-solid max-sm:border-sec-mirage-blue
      max-sm:py-4`
    >
      {
        companyMetrics.map((metricItem) => (
          <div class="flex-1">
            <p class="mb-4 text-sec-sanjuan-blue">{metricItem.description}</p>
            <h2 class="text-5xl text-pr-dark-pink">{metricItem.metric}</h2>
          </div>
        ))
      }
    </div>
    <AboutGridLayout gridContent={gridContentLower} />
  </Padding>
</section>
