@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

nav ul, nav ul li, footer h1.project-header-text, footer p.project-description {
  margin-bottom: 1rem;
}

body {
  font: 18px "Barlow Condensed", sans-serif;
}

a:visited {
  color: inherit;
}

div.background-container {
  position: relative;
  overflow: hidden;
}

div.background {
  position: absolute;
  left: 50%;
  background: hsl(207, 33%, 95%);
  width: 100%;
  height: 65%;
  z-index: -1;
  border-radius: 0 0 0 25%;
}

header {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

nav ul {
  color: hsl(230, 29%, 20%);
  font-size: 1.25rem;
  text-transform: uppercase;
  line-height: 1;
  width: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: 700;
  background: #fff;
  letter-spacing: 0.125rem;
  position: absolute;
  width: 90%;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}
nav ul li:last-child {
  padding-top: 1rem;
  border-top: 0.5px solid hsl(231, 7%, 65%);
  color: hsl(231, 7%, 65%);
}

.toggle-nav {
  display: none;
}

main {
  padding: 2em 0 4em 0;
}
main img.illustration-devices {
  width: 150%;
}

footer {
  font-size: 1rem;
  padding: 0 1em 1em 1em;
}
footer p.project-cta {
  margin: 1rem 0;
}
footer p.project-cta span.new-cta {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 1rem;
  background: hsl(230, 29%, 20%);
  font-size: 0.9em;
  padding: 0.2em 0.65em;
  border-radius: 10px;
  font-weight: 700;
}
footer p.project-cta span.monograph-dashboard {
  letter-spacing: 0.35rem;
  color: hsl(231, 7%, 65%);
  font-size: 0.9em;
  text-transform: uppercase;
}
footer h1.project-header-text {
  color: hsl(230, 29%, 20%);
  font-size: 2.5em;
  text-transform: uppercase;
  line-height: 1;
  width: 90%;
}
footer p.project-description {
  color: hsl(230, 11%, 40%);
  font-size: 1.25em;
  text-transform: none;
  line-height: 1;
  width: 80%;
}
footer p.project-btn-cta a {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 1rem;
  background: hsl(0, 100%, 68%);
  font-size: 0.9em;
  padding: 1em 1.5em;
  border-radius: 5px;
  font-weight: 600;
}
footer p.project-btn-cta a:hover {
  opacity: 0.85;
}
footer p.project-btn-cta span {
  letter-spacing: 0.15rem;
  color: hsl(231, 7%, 65%);
  font-size: 0.9em;
  text-transform: uppercase;
}

@media (width > 768px) {
  footer {
    font-size: 1.25rem;
  }
}
@media (width > 1024px) {
  div.padding-desktop {
    padding: 1.75rem;
  }
  div.flex-container {
    display: flex;
    align-items: center;
  }
  main,
  footer {
    flex: 1;
    padding: 0;
  }
  footer {
    order: -1;
    font-size: 1.5rem;
  }
  .toggle-nav {
    display: block;
  }
  .hamburger-menu {
    display: none;
  }
  nav ul {
    position: relative;
    top: unset;
    left: unset;
    background: unset;
    transform: unset;
    box-shadow: unset;
    margin-bottom: unset;
    padding: unset;
    display: flex;
    align-items: center;
  }
  nav ul li {
    margin-bottom: unset;
    margin-right: 1rem;
  }
  nav ul li a:hover {
    text-decoration: underline hsl(230, 29%, 20%);
  }
  nav ul li:last-child {
    margin-right: unset;
    margin-left: 2rem;
    padding-top: unset;
    border-top: unset;
    color: hsl(231, 7%, 65%);
  }
  nav ul li:last-child a:hover {
    text-decoration: underline hsl(231, 7%, 65%);
  }
  p.project-btn-cta {
    margin-top: 5rem;
  }
}
@media (width > 1440px) {
  footer {
    font-size: 1.75rem;
  }
}

/*# sourceMappingURL=index.css.map */
