---
import Padding from "@/layouts/Padding.astro";
import { getCollection } from "astro:content";
import PlanItem from "@/components/pricing/PlanItem.astro";

const pricingPlanCollection = await getCollection("pricingPlan");
---

<Padding>
  <h1 class="text-6xl text-sec-sanjuan-blue mb-6">Pricing</h1>
  <section class="flex gap-6">
    {pricingPlanCollection.map((planItem) => <PlanItem planItem={planItem} />)}
  </section>
</Padding>
