---
import Padding from "@/layouts/Padding.astro";
import BgCircle from "@/layouts/BgCircle.astro";
import Logo from "@/components/Logo.astro";
import NavLinks from "@/components/NavLinks.astro";
import SocialMedia from "@/components/SocialMedia.astro";
---

<BgCircle
  bgColor="bg-sec-mirage-blue"
  position="-top-[100%] -right-[20%] max-sm:top-[100px] max-sm:-right-[0px]"
>
  <Padding>
    <footer class="py-8 flex items-center max-sm:flex-col max-sm:gap-8">
      <Logo svgFillColor={"fill-pr-water-white"} />
      <div>
        <NavLinks
          ulClassList="hover:opacity-100"
          liClassList="text-pr-water-white opacity-80"
        />
      </div>
      <div class="ml-auto max-sm:ml-0">
        <SocialMedia />
      </div>
    </footer>
  </Padding>
</BgCircle>
