---
import DemoButton from "@/components/DemoButton.astro";
import Padding from "@/layouts/Padding.astro";
import Logo from "@/components/Logo.astro";
import NavLinks from "@/components/NavLinks.astro";
import MenuHamburger from "@/svg/shared/menu.svg";
import { Image } from "astro:assets";
---

<Padding>
  <header class="py-12 flex items-center">
    <Logo svgFillColor={"fill-sec-sanjuan-blue"} />
    <NavLinks ulClassList="text-sec-sanjuan-blue" />
    <DemoButton customClass="ml-auto" />

    <Image
      src={MenuHamburger}
      id="hamburger-btn"
      alt="Hamburger Menu Image"
      class="hidden max-sm:inline-block"
    />
    <!-- <aside
      id="mobile-menu"
      class="absolute right-0 hidden bg-sec-mirage-blue min-h-screen trnal translate-x-0"
    >
      <nav>Test1</nav>
      <nav>Test1</nav>
      <nav>Test1</nav>
    </aside> -->
  </header>
</Padding>

<!-- <script>
  const hamburgerButton = document.getElementById(
    "hamburger-btn",
  ) as HTMLElement;
  const mobileMenu = document.getElementById("mobile-menu") as HTMLElement;

  hamburgerButton.addEventListener("click", () => {
    mobileMenu.classList.toggle("hidden");
    mobileMenu.classList.toggle("translate-x-full");
  });
</script> -->
