---
import DemoForm from "@/components/DemoForm.astro";
import Padding from "@/layouts/Padding.astro";
---

<Padding>
  <section
    class="flex justify-between items-center bg-pr-water-white py-28
  max-md:flex-col max-md:py-14
  max-md:gap-8"
  >
    <h2 class="text-sec-sanjuan-blue text-5xl">Ready to start?</h2>
    <DemoForm />
  </section>
</Padding>
