@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }
}

.as {
  color: hsl(234, 29%, 20%);
  color: hsl(235, 18%, 26%);
  color: hsl(231, 7%, 60%);
  color: hsl(4, 100%, 67%);
}