---
import Padding from "@/layouts/Padding.astro";

// created component for BgCircle component overlapping
---

<Padding>
  <h1
    class=`text-sec-sanjuan-blue text-5xl max-w-[55%] my-6
  max-md:max-w-full max-md:text-center`
  >
    Submit a help request and we'll get in touch shortly.
  </h1>
</Padding>
